# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.
AUTH_SECRET: "!0\xBE\xA9%\\*\xF9\"\xFE\xC3\x8FXcm\x9B\x9FS\xC3\xAE\x9B\xC2\x9D*\x98u,z\xDE\xFE\xB0\x89"

development:
  secret_key_base: 4161ceedfbc0732f4209ac67f72625b87d27489794ba0c0c9f9408ded4d8496b520b2cd61e19ef8cb416150bc74a0825a243ef94030fbfe3355597a07cf73d28

test:
  secret_key_base: 03b5e51909729a18a9a929560034ba4b3fb2a281f114dc5b4852dbd8351d1bfcd99624cce7a18ef8f2745b7d669867064ea335967c5158edda58731908d4b8ba

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
